
.text-info {
    font-weight: bold;
   
}
body {
   background-image: url("../srbija.jpg");
   background-size:     cover;                     
    background-repeat:   no-repeat;
}
.jumbotron {
    margin-top: 50px;
}